@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(32, 32, 32);
}

.container_full{
    width: 100%;
    background-color: #333;
    border-bottom: 1px solid rgb(97, 247, 154);
}

.container{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    /* padding: 100px 0; */
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    color: rgb(116, 216, 154);
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.logo p:hover{
    color: rgb(106, 240, 158);
}

.navbar{
    margin-left: auto;
}

ul{
    display: flex;
    justify-content: center;
}

ul li{
    list-style-type: none;
    border-right: 2px solid rgb(97, 247, 154);
    padding: 10px 20px;
}

ul li:first-child{
    border-left: 2px solid rgb(97, 247, 154);
}

ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    display: block;
    transition: color 0.3s ease-in-out;
}

ul li a:hover{
    color: rgb(106, 240, 158);
}

ul li{
    position: relative;
}

ul ul{
    position: absolute;
    left: -99999999999999999px;
    display: inline-block;
}

ul li:hover ul{
    left: -2px;
    background: #333; 
}

ul li:hover ul li{
    border-right: none;
}

ul ul li a{
    color: #fff;
}

ul li il li{
    position: relative;
}

ul li ul li ul{
    position: absolute;
    top: -99999999999999999px;
    display: inline-block;
}

ul li ul li:hover ul{
    top: 0;
    left: 172px;
} 